@page "/"
@layout HomeLayout

<PageTitle>Home</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large" Class="pt-16 pb-12 text-center">
    
    <MudImage Fluid="true" Src="HazelNetLogo.svg" 
              Alt="HazelNet Logo" 
              Class="mx-auto d-block rounded-lg" 
              ObjectPosition="ObjectPosition.Center"/>
    
    <MudText Typo="Typo.h1" Class="mb-6" Align="Align.Center" Style="line-height: 1.1; font-size: 4.25rem; outline:none">
        Study smarter,<br/>
        <span style="background: linear-gradient(90deg, #3b82f6, #8b5cf6); -webkit-background-clip: text; -webkit-text-fill-color: transparent;">
            remember longer.
        </span>
    </MudText>

    <MudText Typo="Typo.body1" Color="Color.Default" Class="mx-auto mb-10"
             Style="max-width: 600px" Align="Align.Center">
        HazelNet is a web-based flashcard system built for structured learning.
        Create decks, study using spaced repetition, and track progress across devices.
    </MudText>

    <div class="d-flex justify-center gap-4 mb-16">
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large"
                   Style="border-radius: 16px; font-weight: 700; text-transform: none;" DisableElevation="true">
            Start Studying
        </MudButton>
        <MudButton Variant="Variant.Outlined" Color="Color.Default" Size="Size.Large" Class=" px-8 py-4"
                   Style="border-radius: 16px; font-weight: 700; text-transform: none;">
            Browse Public Decks
        </MudButton>
    </div>

    <MudPaper Elevation="20" Class="mx-auto pa-4" 
              Style="max-width: 1000px; border-radius: 20px;">
        <MudPaper Class="mx-auto pa-4 d-flex flex-column" Elevation="2"
                  Style="height: 450px; border-radius: 15px;">
            
            <div class="d-flex flex-row gap-1 ma-2">
                <MudAvatar Color="Color.Error" Style="height:12px; width:12px;"/>
                <MudAvatar Color="Color.Warning" Style="height:12px; width:12px;"/>
                <MudAvatar Color="Color.Success" Style="height:12px; width:12px;"/>
            </div>
            
            <MudPaper Class="d-flex justify-center align-center " Elevation="0" Style="height: 450px">
                <MudCard Outlined="true" Style="border-radius: 20px; height: 200px; width: 400px" Elevation="2">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.body2" Color="Color.Primary" Align="Align.Center">FLASHCARD</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Class="mb-5" Align="Align.Center" Color="Color.Dark" Typo="Typo.h3">
                            What is the time <br/>complexity of Merge Sort?
                        </MudText>
                        <MudSpacer/>
                        <MudDivider/>
                        <div class="d-flex flex-row gap-5 ma-5 align-center justify-center">
                            <MudAvatar Color="Color.Primary" Style="height:12px; width:12px;"/>
                            <MudAvatar Color="Color.Primary" Style="height:12px; width:12px;"/>
                            <MudAvatar Color="Color.Primary" Style="height:12px; width:12px;"/>
                        </div>
                    </MudCardContent>
                </MudCard>
            </MudPaper>
            
        </MudPaper>
    </MudPaper>
    
    <MudText Typo="Typo.body1" Align="Align.Center"
             Class="mt-15">
        FEATURES
    </MudText>
    <MudText Typo="Typo.h2" Align="Align.Center">
        Discover our App
    </MudText>
</MudContainer>

